.gray-pattern {
  background-position: 0  0;
  background-repeat: repeat;
  background-size: 8px 8px;
}

.gray-gallery-white { /* porcelain? */
  background-color: #FFFFFF;
  /* dark pixels: 0/64 = 0%; average #ffffff */
    background-image: url("../images/grays/01-gallery-white.svg");
}

.gray-salt {
  background-color: #F8F8F8;
  /* dark pixels: 2/64 = 1/32 = 3.125%; average #f7f7f7 */
    background-image: url("../images/grays/02-salt.svg");
}

.gray-chalk {
  background-color: #F0F0F0;
  /* dark pixels: 4/64 = 1/16 = 6.25%; average #efefef */
    background-image: url("../images/grays/03-chalk.svg");
}

.gray-plaster {
  background-color: #E8E8E8;
  /* dark pixels: 4/64 = 1/16 = 6.25%; average #efefef */
    background-image: url("../images/grays/04-plaster.svg");
}

.gray-bone {
  background-color: #E1E1E1;
  /* dark pixels: 6/64 = 3/32 = 9.375%; average #e7e7e7 */
    background-image: url("../images/grays/05-bone.svg");
}

.gray-pearl {
  background-color: #DADADA;
  /* dark pixels: 8/64 = 1/8 = 12.5%; average #dfdfdf */
    background-image: url("../images/grays/06-pearl.svg");
}

.gray-linen {
  background-color: #D2D2D2;
  /* dark pixels: 12/64 = 3/16 = 18.75%; average #cfcfcf */
    background-image: url("../images/grays/07-linen.svg");
}

.gray-oyster {
  background-color: #CACACA;
  /* dark pixels: 12/64 = 3/16 = 18.75%; average #cfcfcf */
    background-image: url("../images/grays/08-oyster.svg");
}

.gray-mist {
  background-color: #C3C3C3;
  /* dark pixels: 16/64 = 1/4 = 25%; average #bfbfbf */
    background-image: url("../images/grays/09-mist.svg");
}

.gray-ash {
  background-color: #BCBCBC;
  /* dark pixels: 16/64 = 1/4 = 25%; average #bfbfbf */
    background-image: url("../images/grays/10-ash.svg");
}

.gray-moon {
  background-color: #B4B4B4;
  /* dark pixels: 18/64 = 9/32 = 28.125%; average #b7b7b7 */
    background-image: url("../images/grays/11-moon.svg");
}

.gray-nickel {
  background-color: #ACACAC;
  /* dark pixels: 20/64 = 5/16 = 31.25%; average #afafaf */
    background-image: url("../images/grays/12-nickel.svg");
}

.gray-pewter {
  background-color: #A5A5A5;
  /* dark pixels: 22/64 = 11/32 = 34.375%; average #a7a7a7 */
    background-image: url("../images/grays/13-pewter.svg");
}

.gray-dove {
  background-color: #9E9E9E;
  /* dark pixels: 24/64 = 3/8 = 37.5%; average #9f9f9f */
    background-image: url("../images/grays/14-dove.svg");
}

.gray-granite {
  background-color: #969696;
  /* dark pixels: 26/64 = 13/32 = 40.625%; average #979797 */
    background-image: url("../images/grays/15-granite.svg");
}

.gray-shale {
  background-color: #8E8E8E;
  /* dark pixels: 28/64 = 7/16 = 43.75%; average #8f8f8f */
    background-image: url("../images/grays/16-shale.svg");
}

.gray-iron-mist {
  background-color: #878787;
  /* dark pixels: 30/64 = 15/32 = 46.875%; average #878787 */
    background-image: url("../images/grays/17-iron-mist.svg");
}

.gray-river-stone {
  background-color: #808080;
  /* dark pixels: 32/64 = 1/2 = 50%; average #808080 */
    background-image: url("../images/grays/18-river-stone.svg");
}

.gray-storm {
  background-color: #787878;
  /* dark pixels: 34/64 = 17/32 = 53.125%; average #787878 */
    background-image: url("../images/grays/19-storm.svg");
}

.gray-slate {
  background-color: #707070;
  /* dark pixels: 36/64 = 9/16 = 56.25%; average #707070 */
    background-image: url("../images/grays/20-slate.svg");
}

.gray-flint {
  background-color: #696969;
  /* dark pixels: 38/64 = 19/32 = 59.375%; average #686868 */
    background-image: url("../images/grays/21-flint.svg");
}

.gray-graphite {
  background-color: #626262;
  /* dark pixels: 40/64 = 5/8 = 62.5%; average #606060 */
    background-image: url("../images/grays/22-graphite.svg");
}

.gray-steel {
  background-color: #5A5A5A;
  /* dark pixels: 42/64 = 21/32 = 65.625%; average #585858 */
    background-image: url("../images/grays/23-steel.svg");
}

.gray-gunmetal {
  background-color: #525252;
  /* dark pixels: 44/64 = 11/16 = 68.75%; average #505050 */
    background-image: url("../images/grays/24-gunmetal.svg");
}

.gray-wrought-iron {
  background-color: #4B4B4B;
  /* dark pixels: 46/64 = 23/32 = 71.875%; average #484848 */
    background-image: url("../images/grays/25-wrought-iron.svg");
}

.gray-pumice {
  background-color: #444444;
  /* dark pixels: 48/64 = 3/4 = 75%; average #404040 */
    background-image: url("../images/grays/26-pumice.svg");
}

.gray-charcoal {
  background-color: #3C3C3C;
  /* dark pixels: 48/64 = 3/4 = 75%; average #404040 */
    background-image: url("../images/grays/27-charcoal.svg");
}

.gray-kelp {
  background-color: #343434;
  /* dark pixels: 52/64 = 13/16 = 81.25%; average #303030 */
    background-image: url("../images/grays/28-kelp.svg");
}

.gray-lampblack {
  background-color: #2D2D2D;
  /* dark pixels: 52/64 = 13/16 = 81.25%; average #303030 */
    background-image: url("../images/grays/29-lampblack.svg");
}

.gray-hematite {
  background-color: #262626;
  /* dark pixels: 56/64 = 7/8 = 87.5%; average #202020 */
    background-image: url("../images/grays/30-hematite.svg");
}

.gray-peat {
  background-color: #1E1E1E;
  /* dark pixels: 58/64 = 29/32 = 90.625%; average #181818 */
    background-image: url("../images/grays/31-peat.svg");
}

.gray-ink {
  background-color: #161616;
  /* dark pixels: 60/64 = 15/16 = 93.75%; average #101010 */
    background-image: url("../images/grays/32-ink.svg");
}

.gray-cinder {
  background-color: #0F0F0F;
  /* dark pixels: 60/64 = 15/16 = 93.75%; average #101010 */
    background-image: url("../images/grays/33-cinder.svg");
}

.gray-soot {
  background-color: #080808;
  /* dark pixels: 62/64 = 31/32 = 96.875%; average #080808 */
    background-image: url("../images/grays/34-soot.svg");
}

.gray-absolute-black { /* void? */
  background-color: #000000;
  /* dark pixels: 64/64 = 100%; average #000000 */
    background-image: url("../images/grays/35-absolute-black.svg");
}
