body {
  font-family: 'Chillax-Light';
}
body.night {
  background: black;
  color: white;
}
img {
  /* WebKit specific (older browsers) */
  image-rendering: -webkit-optimize-contrast;
  
  /* Modern/Standardized properties */
  image-rendering: crisp-edges;
  image-rendering: pixelated; /* Preferred for pixel art */
  height: 20%;
}
.wrapper {
  padding: 48px;
}
h1.description {
  font-size: 5rem;
  font-weight: 200;
}
.hourly {
  /*float: right;*/
  /*width: 144px;*/
  width: 100%;
  background: gray;
}
.temps, .precips {
  height: 360px;
}
.hours {
  background: black;
  height: 50px;
}
.hour {
  float: left;
  /*background: -webkit-linear-gradient(0deg,#000 0%, #fff 100%);*/
  height: 100%;
  width: 6.25% /* hard coded sixteenths */
}
.hours .hour {
  font-family: 'Tanker-Regular';
  color: white;
  text-align: center;
  font-size: 35px;
  line-height: 50px; /* hard coded from .hours height */
}
.temps .hour {
  position: relative;
}
.precips .hour {
  position: relative;
}
.temp-high,
.temp-low,
.bar-container {
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: 'Tanker-Regular';
}
.temp-high span,
.temp-low span {
  left: 0;
  font-size: 60px;
  line-height: 60px;
  position: absolute;
  width: 100%;
}
.temp-high {
  height: 25%;
  top: 0;
}
.temp-high span {
  bottom: 0;
}
.bar-container {
  height: 50%;
  top: 25%;
}
.bar {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  background: black;
}
.temp-low {
  color: white;
  height: 25%;
  top: 75%;
  background: black;
}
.temp-low span {
  top: 0;
}
.precip-hour {
  overflow: visible;
}
.precip-bar {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: black;
}
.precip-label {
  color: white;
  font-family: 'Tanker-Regular';
  font-size: 36px;
  left: 0;
  line-height: 44px;
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
}
.no-precip {
  color: white;
  float: none;
  font-family: 'Chillax-Extralight';
  font-size: 180px;
  line-height: 360px;
  text-align: center;
  width: 100%;
}
.clearfix {
  clear: both;
}
